@import url('https://fonts.googleapis.com/css?family=Anton|Buenard:400,700');

*,
*::after,
*::before {
    box-sizing: border-box;
}

#header {
    width: 100%;
    padding: 25px;
    background: linear-gradient(to left, #e80931, #efe1e3);
}

#header img {
    display: inline-block;
    margin-right: auto;
    height: 200px;

}

#header h1 {
    color: #440b16;
    text-align: center;
    margin-top: 80px;
    font-family: Verdana;
    font-size: 40px;
}

navbar {
    margin-bottom: 0;
    border-radius: 0;
}



.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

body {
    background-color: #efe1e3;
}

main {
    --color-text: #000;
    --color-bg: #ececec;
    --color-link: #000;
    --color-link-hover: #000;
    --color-info: #000;
    overflow-x: hidden;
    background: #f5deb3a8;
    font-family: 'Buenard', serif;
    min-height: 100vh;
    color: #57585c;
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#footer {
    background-color: #f95371;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #000;
}

#footer a {
    color: #440b16;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}